            <div class="col-sm-12">
                <h2 class="title text-center">Acerca de nosotros</h2>

                <div class="wrap">
                    <div class="article">
                        <h3>DISTRIHERRAMIENTAS S.A.S.</h3>

                        <p><img class="circulo alignright wp-image-113" src="images/home/dh.jpg" alt="dh" width="156" height="156"></p>

                        <p>Proveemos soluciones con materiales y herramientas de ferretería en general, máquina pesada y seguridad Industrial, apoyados en un amplio portafolio de productos nacionales e importados de las mejores marcas, excelente calidad y precios competitivos, ofreciendo así a nuestros clientes reducción en costos, tiempo y esfuerzos</p>

                        <h3>¿QUÉ DISTRIBUIMOS?</h3>
                        <p>Distriherramientas es una empresa dedicada a la comercialización de productos para el sector minero y la construcción (soldadores, motores y repuestos), productos de ferretería y seguridad industrial.</p>
                        <p>El público objetivo son los mineros, las constructoras y demás personas pertenecientes a este sector, público en general.</p>

                        <p>&nbsp;</p>

                        <p><img class="aligncenter wp-image-114 size-full" src="images/home/dh2.jpg" alt="Sin-título-1" width="850" height="236"></p>

                        <h3>MISIÓN</h3>
                        <p>Proveer soluciones con materiales y herramientas de ferretería&nbsp; en general, maquinaria pesada y&nbsp; seguridad industrial, apoyados en un&nbsp; amplio portafolio de productos nacionales e importados de&nbsp; las mejores marcas, excelente calidad y precios competitivos, ofreciendo así a&nbsp; nuestros clientes reducción en costos, tiempo y esfuerzos.</p>

                        <h3>VISIÓN</h3>

                        <p>Ser reconocidos como distribuidores líderes en proveer soluciones integrales a las&nbsp; necesidades de sus clientes,&nbsp; mediante la comercialización de productos y servicios complementarios y de calidad, ajustados a los cambios del mercado e innovación permanente, apoyados por personal altamente comprometido y&nbsp; competente que nos garantice solidez financiera y crecimiento sostenible.</p>

                        <h3>VALORES</h3>

                        <p>Los valores que rigen nuestra compañía son:</p>

                        <h4>Somos Pasión</h4>
                        <ul>
                            <li><strong>Energía</strong>:&nbsp;Trabajamos con buena actitud disfrutando lo que hacemos, somos alegres y positivos, contagiamos de ánimo a todos los que nos rodean.</li>
                            <li><strong>Oportunos:</strong>&nbsp;Somos responsables y tenemos la convicción de entregar siempre lo mejor de una manera eficiente y dinámica. Trabajamos con la razón y el corazón.</li>
                            <li><strong>Servicio:&nbsp;</strong>Atendemos y solucionamos de manera oportuna, reflejando la calidad de nuestro equipo de trabajo ofreciendo una atención esmerada a nuestros clientes</li>
                        </ul>
                        <h4>Somos logro</h4>
                        <ul>
                            <li><strong>Excelencia:&nbsp;</strong>Buscamos la excelencia en el logro de objetivos, lo que nos demanda calidad, esfuerzo, empeño y coraje para lograr resultados exitosos</li>
                            <li><strong>Proyección:&nbsp;</strong>Logramos resultados porque visualizamos nuestros retos. Construimos El futuro de una manera sistemática trabajando en equipos de alto desempeño.</li>
                            <li><strong>Acertividad:</strong>&nbsp;Nos comunicamos con fluidez y somos empáticos al escuchar, aprendemos a diario del experiencia de nuestros clientes y compañeros.</li>
                        </ul>
                        <h4>Somos integridad</h4>
                        <ul>
                            <li><strong>Honestidad:</strong>&nbsp;Procedemos con transparencia, ética y buena fe en nuestras actividades diarias.</li>
                            <li><strong>Calidad:</strong>&nbsp;Hacemos las cosas bien desde el principio, respetamos las políticas, procesos y estándares de la compañía y del entorno.</li>
                            <li><strong>Responsabilidad:&nbsp;</strong>Somos sensibles por el medio ambiente, aportamos con empeño para desarrollar la comunidad y lograr el crecimiento sostenible de nuestra compañía</li>
                        </ul>
                    </div>

                    <div class="sidebar">
                    </div>
                </div>
            </div>
