<div class="col-sm-12 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">GRIFERIA</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2500.jpg" alt="" />
                        <h2>2500</h2>
                        <p>CAJA MENOR DE SEGURIDAD</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2500</h2>
                            <p>CAJA MENOR DE SEGURIDAD</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2501.jpg" alt="" />
                        <h2>2501</h2>
                        <p>EXTENSIÓN DE 12NPT</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2501</h2>
                            <p>EXTENSIÓN DE 12NPT</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2502.jpg" alt="" />
                        <h2>2502</h2>
                        <p>LLAVE DE CONTENCIÓN</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2502</h2>
                            <p>LLAVE DE CONTENCIÓN</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2503.jpg" alt="" />
                        <h2>2503</h2>
                        <p>CONEXIÓN PARA MANGUERA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2503</h2>
                            <p>CONEXIÓN PARA MANGUERA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2504.jpg" alt="" />
                        <h2>2504</h2>
                        <p>RACOR MACHO</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2504</h2>
                            <p>RACOR MACHO</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/sale.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2505.jpg" alt="" />
                        <h2>2505</h2>
                        <p>RACOR HEMBRA </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2505</h2>
                            <p>RACOR HEMBRA </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2506.jpg" alt="" />
                        <h2>2506</h2>
                        <p>LLAVE TERMINAL</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2506</h2>
                            <p>LLAVE TERMINAL</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2507.jpg" alt="" />
                        <h2>2507</h2>
                        <p>LLAVE TERMINAL</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2507</h2>
                            <p>LLAVE TERMINAL</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2508.jpg" alt="" />
                        <h2>2508</h2>
                        <p>MEGACOMBO REGADERA </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2508</h2>
                            <p>MEGACOMBO REGADERA </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2509.jpg" alt="" />
                        <h2>2509</h2>
                        <p>MEGACOMBO MEZCLADOR </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2509</h2>
                            <p>MEGACOMBO MEZCLADOR </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2510.jpg" alt="" />
                        <h2>2510</h2>
                        <p>MEGACOMBO SIFÓN</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2510</h2>
                            <p>MEGACOMBO SIFÓN</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/FERRETERIA/\GRIFERIA/2511.jpg" alt="" />
                        <h2>2511</h2>
                        <p>MEGACOMBO CANASTILLA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>2511</h2>
                            <p>MEGACOMBO CANASTILLA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <ul class="pagination">
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">&raquo;</a></li>
        </ul>
    </div><!--features_items-->
</div>
