<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Distri</span>herramientas</h1>
                                <h2>Ferreteria, construcción y seguridad</h2>
                                <p>Proveer soluciones con materiales y herramientas de ferreteria en general, maquinaria pesada, seguridad industrial.</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/3.jpg" class="3 img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Distri</span>herramientas</h1>
                                <h2>Sede Caucasia</h2>
                                <p>Visitanos para tener el gusto a atenderte
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/4.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Distri</span>herramientas</h1>
                                <h2>Sede Amalfi</h2>
                                <p>Visitanos para tener el gusto a atenderte
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/31.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>CATEGORIAS</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#Ferreteria">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Línea Ferretera
                                    </a>
                                </h4>
                            </div>
                            <div id="Ferreteria" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a ng-href="#ferreabrasivos">Abrasivos </a></li>
                                        <li><a ng-href="#ferreagri">Agrícola </a></li>
                                        <li><a ng-href="#ferreconstru">Construcción</a></li>
                                        <li><a ng-href="#ferregriferia">Griferia </a></li>
                                        <li><a ng-href="#ferrehmanual">Herramienta Manual </a></li>
                                        <li><a ng-href="#ferrehelect">Herramientas Eléctricas</a></li>
                                        <li><a ng-href="#ferrepegante">Pegantes </a></li>
                                        <li><a ng-href="#ferrequimi">Químicos </a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#filt">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Filtración y Lubricación
                                    </a>
                                </h4>
                            </div>
                            <div id="filt" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a ng-href="#/filaceites">Aceites</a></li>
                                        <li><a ng-href="#/filtfilt">Filtros</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#segu">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Seguridad Industrial
                                    </a>
                                </h4>
                            </div>
                            <div id="segu" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a ng-href="#/segauditiva">Protección Auditiva</a></li>
                                        <li><a ng-href="#/segcaidas">Protección Contra Caidas</a></li>
                                        <li><a ng-href="#/segcorporal">Protección Corporal</a></li>
                                        <li><a ng-href="#/segcabeza">Protección de Cabeza y Rostro</a></li>
                                        <li><a ng-href="#/segmanos">Protección para Manos</a></li>
                                        <li><a ng-href="#/segpies">Protección para Pies y Piernas</a></li>
                                        <li><a ng-href="#/segrespira">Protección Respiratoria</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a ng-href="#/shoprepuestos">Repuestos Maquinaria Pesada</a></h4>
                            </div>
                        </div>

                    </div><!--/category-products-->

                    <div class=""><!--izq-->
                        <h2></h2>

                    </div><!--/izq-->

                    <div class=""><!--izq-->
                        <h2></h2>

                    </div><!--/izq-->

                    <div class="ban text-center"><!--shipping-->
                        <img src="../images/home/ban2.png" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">PRODUCTOS</h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/productos/REPUESTOS MAQUINARIA PESADA/5201.jpg" alt="" />
                                    <h2>5201</h2>
                                    <p>Balde Retroexcavadora</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>5201</h2>
                                        <p>Balde Retroexcavadora</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/productos/REPUESTOS MAQUINARIA PESADA/5208.jpg" alt="" />
                                    <h2>5208</h2>
                                    <p>Cadena</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>5208</h2>
                                        <p>Cadena</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/productos/REPUESTOS MAQUINARIA PESADA/5207.jpg" alt="" />
                                    <h2>5207</h2>
                                    <p>Bujes</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>5207</h2>
                                        <p>Bujes</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/productos/FILTRACIÓN Y LUBRICACIÓN/ACEITES/4601.jpg" alt="" />
                                    <h2>4601</h2>
                                    <p>Aceite Lubricante</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>4601</h2>
                                        <p>Aceite Lubricante</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                    </div>
                                </div>
                                <img src="images/home/new.png" class="new" alt="" />
                            </div>
                            <div class="choose">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/productos/FILTRACIÓN Y LUBRICACIÓN/ACEITES/4603.jpg" alt="" />
                                    <h2>4603</h2>
                                    <p>Comma 151177 Mobil Súper 3000</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>4603</h2>
                                        <p>Comma 151177 Mobil Súper 3000</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                    </div>
                                </div>
                                <img src="images/home/sale.png" class="new" alt="" />
                            </div>
                            <div class="choose">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/productos/FILTRACIÓN Y LUBRICACIÓN/FILTROS/4900.jpg" alt="" />
                                    <h2>4900</h2>
                                    <p>Filtro de Aceite</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>4900</h2>
                                        <p>Filtro de Aceite</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">

                            </div>
                        </div>
                    </div>

                </div><!--features_items-->



                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">PRODUCTOS RECOMENDADOS</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/productos/FERRETERIA/AGRÍCOLA/1600.Jpg" alt="" />
                                                <h2>1600</h2>
                                                <p>Azadones</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7003.jpg" alt="" />
                                                <h2>7003</h2>
                                                <p>Botas Centauro DIN</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7300.jpg" alt="" />
                                                <h2>7300</h2>
                                                <p>Pieza Facial Media Cara</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN CORPORAL/6105.jpg" alt="" />
                                                <h2>6105</h2>
                                                <p>Chaleco Clase II MOD</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN CONTRA CAÍDAS/5802.jpg" alt="" />
                                                <h2>5802</h2>
                                                <p>Eslinga Doble con Amortiguador</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6419.jpg" alt="" />
                                                <h2>6419</h2>
                                                <p>Lentes Sensibles a la Luz</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>