<div data-ng-app="MiCarrito">
    <div class="well container-fluid">
        <h1>Tienda De Todo</h1>
        <tabs>
            <pane title="Productos">
            <div class="row" ng-controller="ProductosController">
                <div class="well span3" ng-repeat="producto in productos">
                    <h4>{{producto.Producto}}</h4>
                    <img class="" title="{{producto.Producto}}" 
                    src="{{producto.Imagen}}" />
                    <button class="btn btn-info btn-block" ng-click="agregar(producto)"> 
                        <i class="icon-plus-sign"></i>
                        Precio: {{producto.Precio|formatoMoneda}}
                    </button>
                </div>
            </div>
            </pane>
            <pane title="miCarrito">
            <div class="row" ng-controller="miCarritoController" ng-show="micarrito.length">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="span1">Id</th>
                            <th class="span5">Producto</th>
                            <th class="span2">Cantidad</th>
                            <th class="span2">Precio</th>
                            <th class="span2">Total</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="well" ng-repeat="item in micarrito">
                            <td>{{item.Producto.Id}}</td>
                            <td>{{item.Producto.Producto}}</td>
                            <td>
                                <input type="text" ng-model="item.Cantidad" />
                            </td>
                            <td>{{item.Producto.Precio|formatoMoneda}}</td>
                            <td>{{item.Cantidad * item.Producto.Precio|formatoMoneda}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="eliminar(item)">
                                    <i class="icon-minus-sign"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="well">
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td></td>
                            <td>{{precioTotal()|formatoMoneda}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </pane>
        </tabs>
    </div>
</div>