
<div class="col-sm-12">
    <div class="blog-post-area">
        <h2 class="title text-center">Visita nuestras sedes</h2>
        <div class="single-blog-post">

            <a href="">

                <p>
                    Distriherramientas a ampliado su cobertura a 3 diferentes lugares de Colombia, para así suplir las necesidades de nuestros clientes de forma más agil y segura.</p> <br>
                <img src="images/home/dh2.jpg" alt="" width="400" height="200" frameborder="0" style="border:0" allowfullscreen>
            </a>
            <div class="col-sm-4">
                <h2 class="title text-center">MEDELLÍN</h2>
                <p>

                <h3>Distriherramientas S.A.S</h3></br>

                Carrera 63D #42 B- 34</br>
                Av. Bolivariana</br></p>

                Teléfono: 351 06 52</br>
                Celular: 317 893 90 49</br>
                E-mail: distriherramientas@gmail.com</p> <br>

                <p>
            </div>
            <div class="col-sm-4">
                <h2 class="title text-center">CAUCASIA</h2>
                <p>

                <h3>Distriherramientas S.A.S</h3></br>

                CL 30 Transv. 30 - 31 </br>
                Barrio el Palmar por la bodega Pilsen</br></p>
                Teléfono: 839 35 06</br>
                Celular: 310 545 10 38</br>
                E-mail: distriherramientas@gmail.com</p> <br>

                <p>
            </div>
            <div class="col-sm-4">
                <h2 class="title text-center">AMALFI</h2>
                <p>


                <h3>Distriherramientas S.A.S</h3></br>

                Carrera Aranzasu 19 - 72</br>
                Bajos del hotel Riachon</br></p>
                Teléfono: 830 01 05</br>
                Celular: 313 789 34 51</br>
                E-mail: distriherramientas@gmail.com</p> <br>

                <p>
            </div>



            <div class="pager-area">

            </div>
            <div class="carousel-inner">

                <div class="item active">
                    <div class="col-sm-9">

                    </div>

                </div>




            </div>
        </div>
    </div><!--/blog-post-area-->



</div><!--/Response-area-->
