<div class="col-sm-12 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">PROTECCIÓN AUDITIVA</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5500.jpg" alt="" />
                        <h2>5500</h2>
                        <p> TAPONES AUDITIVOS</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5500</h2>
                            <p> TAPONES AUDITIVOS</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5501.jpg" alt="" />
                        <h2>5501</h2>
                        <p>AUDITIVA 393-2000-50</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5501</h2>
                            <p>AUDITIVA 393-2000-50</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5502.jpg" alt="" />
                        <h2>5502</h2>
                        <p>AUDITIVA 393-2004-50</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5502</h2>
                            <p>AUDITIVA 393-2004-50</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5503.jpg" alt="" />
                        <h2>5503</h2>
                        <p> AUDITIVA 393-2010-50</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5503</h2>
                            <p> AUDITIVA 393-2010-50</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5504.jpg" alt="" />
                        <h2>5504</h2>
                        <p>AUDITIVA, 393-2003-50</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5504</h2>
                            <p>AUDITIVA, 393-2003-50</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/sale.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5505.jpg" alt="" />
                        <h2>5505</h2>
                        <p>DISPENSADOR DE TAPONES 391-1000 </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5505</h2>
                            <p>DISPENSADOR DE TAPONES 391-1000</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5506.jpg" alt="" />
                        <h2>5506</h2>
                        <p>AUDITIVA, 393-2006-50</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5506</h2>
                            <p>AUDITIVA, 393-2006-50</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5507.jpg" alt="" />
                        <h2>5507</h2>
                        <p>TAPONES REGULARES</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5507</h2>
                            <p>TAPONES REGULARES</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN AUDITIVA/5508.jpg" alt="" />
                        <h2>5508</h2>
                        <p>AUDITIVOS 340-4.007, CON CORDÓN</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5508</h2>
                            <p>AUDITIVOS 340-4.007, CON CORDÓN</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
    </div><!--features_items-->
</div>
