<div class="col-sm-12 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">PROTECCIÓN CONTRA CAÍDAS</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN CONTRA CAÍDAS/5801.jpg" alt="" />
                        <h2>5801</h2>
                        <p>BANDA CRUZADA </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5801</h2>
                            <p>BANDA CRUZADA </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN CONTRA CAÍDAS/5802.jpg" alt="" />
                        <h2>5802</h2>
                        <p>ESLINGA DOBLE CON AMORTIGUADOR </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5802</h2>
                            <p>ESLINGA DOBLE CON AMORTIGUADOR </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN CONTRA CAÍDAS/5803.jpg" alt="" />
                        <h2>5803</h2>
                        <p>ESLINGA EN Y EN REATA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5803</h2>
                            <p>ESLINGA EN Y EN REATA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN CONTRA CAÍDAS/5804.jpg" alt="" />
                        <h2>5804</h2>
                        <p>ESLINGA PARA POSICIONAMIENTO </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>5804</h2>
                            <p>ESLINGA PARA POSICIONAMIENTO </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/sale.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
    </div><!--features_items-->
</div>
