<div class="col-sm-12 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">PROTECCIÓN DE CABEZA Y ROSTRO</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="../images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6400.jpg" alt="" />
                        <h2>6400</h2>
                        <p>6800 PIEZA FACIAL CARA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6400</h2>
                            <p>6800 PIEZA FACIAL CARA	</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="../images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6401.jpg" alt="" />
                        <h2>6401</h2>
                        <p>CARETA ACRILICA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6401</h2>
                            <p>CARETA ACRILICA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="../images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6402.jpg" alt="" />
                        <h2>6402</h2>
                        <p>CARETAS PARA SOLDADOR</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6402</h2>
                            <p>CARETAS PARA SOLDADOR</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6403.jpg" alt="" />
                        <h2>6403</h2>
                        <p>CASCO BUNKER DIELÉCTRICO</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6403</h2>
                            <p>CASCO BUNKER DIELÉCTRICO</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6404.jpg" alt="" />
                        <h2>6404</h2>
                        <p>CASCO COLIMA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6404</h2>
                            <p>CASCO COLIMA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/sale.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6405.jpg" alt="" />
                        <h2>6405</h2>
                        <p>CASCO GAVILÁN C.</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6405</h2>
                            <p>CASCO GAVILÁN C.</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6406.jpg" alt="" />
                        <h2>6405</h2>
                        <p>CASCO H-701P AJUSTE TIPO PINLOCK</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6405</h2>
                            <p>CASCO H-701P AJUSTE TIPO PINLOCK</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6407.jpg" alt="" />
                        <h2>6406</h2>
                        <p>CASCO INDUSTRIAL</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6406</h2>
                            <p>CASCO INDUSTRIAL</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6408.jpg" alt="" />
                        <h2>6407</h2>
                        <p>CASCO INDUSTRIALS </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6407</h2>
                            <p>CASCO INDUSTRIALS</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6409.jpg" alt="" />
                        <h2>6408</h2>
                        <p>CASIO IMPERIO DIELECTRICO</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6408</h2>
                            <p>CASIO IMPERIO DIELECTRICO</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6410.jpg" alt="" />
                        <h2>6409</h2>
                        <p>CASIO IMPERIO DIELÉCTRICO</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6409</h2>
                            <p>CASIO IMPERIO DIELÉCTRICO</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN DE CABEZA Y ROSTRO/6411.jpg" alt="" />
                        <h2>6410</h2>
                        <p>COFIA TIPO ORUGA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>6410</h2>
                            <p>COFIA TIPO ORUGA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
    </div><!--features_items-->
</div>
