<div class="col-sm-12 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">PROTECCIÓN PARA PIES Y PIERNAS</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7000.jpg" alt="" />
                        <h2>7000</h2>
                        <p>BOTA SOLDADOR</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7000</h2>
                            <p>BOTA SOLDADOR</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7001.jpg" alt="" />
                        <h2>7001</h2>
                        <p>BOTAS DE CAUCHO</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7001</h2>
                            <p>BOTAS DE CAUCHO</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7002.jpg" alt="" />
                        <h2>7002</h2>
                        <p>BOTÍN TRACTOR</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7002</h2>
                            <p>BOTÍN TRACTOR</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7003.jpg" alt="" />
                        <h2>7003</h2>
                        <p>CENTAURO DIN</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7003</h2>
                            <p>CENTAURO DIN</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7004.jpg" alt="" />
                        <h2>7004</h2>
                        <p>CYBORG DIN AMARILLA DIELÉCTRICA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7004</h2>
                            <p>CYBORG DIN AMARILLA DIELÉCTRICA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/sale.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7005.jpg" alt="" />
                        <h2>7005</h2>
                        <p>CYBORG PP D.E. R.H.</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7005</h2>
                            <p>CYBORG PP D.E. R.H.</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7006.jpg" alt="" />
                        <h2>7006</h2>
                        <p>CYBORG</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7006</h2>
                            <p>CYBORG</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7007.jpg" alt="" />
                        <h2>7007</h2>
                        <p>PROTECTOR DIN</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7007</h2>
                            <p>PROTECTOR DIN</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7008.jpg" alt="" />
                        <h2>7008</h2>
                        <p>SUREÑA DIN</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7008</h2>
                            <p>SUREÑA DIN</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN PARA PIES Y PIERNAS/7009.jpg" alt="" />
                        <h2>7009</h2>
                        <p>TERRITORIO 12</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7009</h2>
                            <p>TERRITORIO 12</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

    </div><!--features_items-->
</div>
