<div class="col-sm-12 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">PROTECCIÓN RESPIRATORIA</h2>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7300.jpg" alt="" />
                        <h2>7300</h2>
                        <p>PIEZA FACIAL MEDIA CARA</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7300</h2>
                            <p>PIEZA FACIAL MEDIA CARA</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7301.jpg" alt="" />
                        <h2>7301</h2>
                        <p>RESPIRADOR PLANO</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7301</h2>
                            <p>RESPIRADOR PLANO</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7302.jpg" alt="" />
                        <h2>7302</h2>
                        <p>RESPIRADOR CONTRA OLORES </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7302</h2>
                            <p>RESPIRADOR CONTRA OLORES</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7303.jpg" alt="" />
                        <h2>7303</h2>
                        <p>RESPIRADOR CONTRA PARTÍCULAS</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7303</h2>
                            <p>RESPIRADOR CONTRA PARTÍCULAS</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7304.jpg" alt="" />
                        <h2>7304</h2>
                        <p>RESPIRADOR N 95</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7304</h2>
                            <p>RESPIRADOR N 95</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                    <img src="images/home/sale.png" class="new" alt="" />
                </div>
                <div class="choose">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7305.jpg" alt="" />
                        <h2>7305</h2>
                        <p>TAPABOCA DESECHABLE</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7305</h2>
                            <p>TAPABOCA DESECHABLE</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="images/productos/SEGURIDAD INDUSTRIAL/PROTECCIÓN RESPIRATORIA/7306.jpg" alt="" />
                        <h2>7306</h2>
                        <p>TRIANGULAR VERDE</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>7306</h2>
                            <p>TRIANGULAR VERDE</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="choose">

                </div>
            </div>
        </div>

        <div class="col-sm-4">


            <ul class="pagination">
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">&raquo;</a></li>
            </ul>
        </div><!--features_items-->
    </div>
</div>
